@import url("https://fonts.googleapis.com/css2?family=Oswald");
@import url("https://fonts.googleapis.com/css2?family=Proxima+Nova:wght@400;700&display=swap");

:root{
 --cap: capitalize;
}
.P{
    font-family: proxima-nova, sans-serif;
    font-weight: 400;
    
}

h1{
    font-family: oswald, sans-serif;
}

/* nav */

.tr{
    text-transform:var(--cap);
    color:white;
    font-weight:bolder;
    font-size: larger;
}
.bg{
   
    background-image: url("photos/OIP.jpg");
   background-size: cover;
    

    margin: 0 auto;
    padding:1vw;
    height: 750px;
}
.nav{
    
    display: flex;
    justify-content: space-between;
    position: sticky;
   padding-left: 2%;
   
   height:8vh;
    
}

.logo{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-left: 3px;
    
}

.logo1{
    width: 16vw;
    height:4vw;
}

.dropdowns{
    height: 5vh;
    display: flex;
    justify-content: center;
    width: 25%;
    gap: 15%;
    margin-right: 15px;
}
.pdrp{
    position: relative;
    display: flex;
    align-items: center;
}
.textpara1{
    font-size: 1.4vw;
    margin: 0;
}

.plink{
    display: flex;
    gap: 5%;
    align-items: center;
}
/* product */

 .drop{
    padding: 2px;
    top:4vh;
    left:-6vw;
    height: 50vh; 
    padding: 3vw;
    width: 25vw;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:2vw;
    background-color: rgba(78, 76, 76, 0.848);
   clip-path: polygon(0 100%, 100% 100%, 100% 2%, 51% 2%, 48% 0%, 45% 2%, 0 2%);
   border-radius: 17px 17px 6px 6px;
}
#scroll{
    position: absolute;
    overflow-x: hidden;
    overflow-y: scroll;
}
.drop2{
    display: none;
    
} 

.nobt{
    background-color: rgba(186, 25, 25, 0);
    border:none;
}


.fdorp{
    
    width: 80%;
}


.texthead{
    margin: 0;
    font-size: 1.5vw;
}

.textpara{
    font-size: 1vw;
    margin: 0;
}

.y{
    color:rgb(255, 191, 0) ;
}

.w{
    color: white;
}
.d-none{
   
    display: none;
    
}
#scroll{
    position: relative;
    z-index: 100;
}

.ani{
    animation-name:SLIDELEFT ;
    animation-duration: 1S;
    animation-iteration-count: 1;
}


.menudrop{
    position: fixed;
    overflow: scroll;
    right: 1px;
    top: 1px;
    gap: 3%;       
    padding: 1%;
    width: 60vh;
    height: 130vh;
    display: flex;
    flex-direction: column;
    background-color: rgba(71, 67, 67, 0.763);
    
    z-index: 200;
    animation-name:SLIDELEFT ;
    animation-duration: 1S;
    animation-iteration-count: 1;
   
}

@keyframes slideright{
    form{
        right: 1px;
    }
    to{
        right: -60vh;
    }
}


@keyframes SLIDELEFT {
    FROM{
        right: -60VH;
    }

    TO{
        right: 1PX;
    }
}
.upcont{
    padding: 2%;
    height: 70%;
    display: flex;
    justify-content: space-between;
}
.cont{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.cross{
    color: white;
    position: fixed;
    right: 15px;
}

.lcont{
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:2vw;
}
.drpbtn{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    border-radius: 10%/50%;
    width: 80%;
    height: 7vh;
    color: rgb(103, 99, 99);
    border: none;
}

.icon{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 10vh;
    gap: 3vw;
    color: rgb(181, 176, 176);
}
.lower{
    color: rgb(181, 176, 176);
    margin: 0;
}

 .texthead1{
    font-size: 3vh;
    
    
}
.textpara1{
    font-size: 2.3vh;
    margin: 0;
} 

/* nav end */


/* hero section */
 .ti{
    
    color: white;
    font-weight: 400;
    font-size: 6vw;
 }

 .fi{
    color: white;
    text-decoration: none;
    font-weight: 700;
    
    font-size: 1.2vw;
    text-transform: capitalize;
 }
 .first{
    background-color: rgb(255, 191, 0);
   display: flex;
   width:200px;
   font-size: 2rem;
   align-items: center;
   justify-content: center;
    height: 50px;
    border-radius:10%/ 50%;
    
 }
 .buttons{
    font-size: 1.2vw;
    width: 60vw;
    flex-shrink: 0;
    display: flex;
    margin-top:1vw;
    justify-content: center;
    gap: 20px;
 }

 .hero{
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: column;
   
    align-items: center;

    justify-content: center;
    
    

 }
.title{
    
    display: flex;
    justify-content: center;
    
    
}
.summon{
    position: relative;
    left: 50vw;

    
}

/* hero large end */




/* hero2 large start  */

.hero2{
    display: grid;
    grid-template-rows: repeat(3 , 1fr);
    grid-template-columns: repeat(3, 1fr);
    height: 2100px;
}

.firstbox{
    padding-top: 12px;
    padding-left: 20px;
    background-image: url("photos/OIP (1).jpg");
    background-color: rgba(255, 255, 0, 0.24);
    background-size: cover;
    grid-column: 1/4;
    display: flex;
    flex-direction: column;
    justify-content: start;
    height:700px;
}
.title2{
    height: 10vw;
    
}

.t2{
    margin: 0;
    text-shadow:0.5px 0.5px 1px black;
    display:flex;
    color: white;
    font-size:5vw;
    font-weight: 500;
}  
.about{
    font-size: 1.1vw;
    font-weight: 600;
    text-shadow:1px 1px 0 rgba(0, 0, 0, .8);
    color: white;
    width: 60%;
    height: 30%;
    display: flex;
    align-items: start;
}

.secondbox{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    grid-column: 0/1;
    grid-row: 2/3;
}
.secondbox div img{
    width: 100%;
    height: 100%;
}

.sab{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    gap: 30px;
}

.sp{
    width: 70%;
    text-transform: capitalize;
    color: rgb(255, 191, 0);
    font-family: oswald;
    font-size:1.6vw;
    font-weight: bolder;
}

.slogo{
    display: flex;
    width: 80%;
    align-items: center;
    justify-content: space-evenly;
}

.thirdbox{
    grid-column: 2/4;
    padding: 20px;
    background-image: url("photos/peoplecouch.webp");
    background-size: cover;
}

.fourthbox{
    background-image: url("photos/R.jpg");
    background-size: cover;
    grid-column: 1/4;
    display: flex;
    flex-direction: column;
    align-items:start;
    justify-content:end;
    
    padding-left: 20px;
}

.about1{
    margin-bottom: 10px;
    height: min-content;
    width: 40%;
    font-size: 1.1vw;
}

.ab{

    color:white;
    font-weight: bold;
    font-size: larger;
}
.hero3{
    display: none;
}

/* hero2 large end */



/* make large start */
.make{

    width: 99vw;
    padding: 5vw;
    height: 20vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(245, 242, 242);
    gap: 20px;

}
.mabout{
    text-align: center;
    font-size: 1.5vw;
}

/* make large end */



/* moving banner large start*/

.banner1{
    
    position: relative;
    z-index: -1;
    right:0px;
    height: 256px;
    display: grid;
    grid-template-rows:repeat(2, 1fr);
    gap:10px;
    
    grid-template-columns: repeat(8 ,380px);
    animation-name: b1;
    animation-duration: 20s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}
.banner2{
    
    position: relative;
    z-index: -1;
    right: 100px;
    height: 256px;
    display: grid;
    grid-template-rows:repeat(2, 1fr);
    gap:10px;
    
    grid-template-columns:repeat(8 , 380px);
    animation-name: b;
    animation-duration: 20s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes b {
    from{
        right: 100px;
    }
    to{
        right: 1660px;
    }
}

@keyframes b1 {
    from{
        right: 0px;
    }
    to{
        right: 1560px;
    }
}

.img{
    position: relative;
    z-index: 0;
    height: 241px;
    width: 370px;
}

.r1{
    grid-row: 1/2;

}

/* moving banner large end */





/* 
join container */
.container{
    height:35vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20PX;

}

.titi{
    font-family: proxima-nova, sans-serif;
    font-size: 4vH;
    font-weight: bold;
    text-align: center;
    display: flex;
    justify-content: center;
}

.bto{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25vh;
    height: 5vh;
    background-color:rgb(255, 191, 0);
    border-radius: 10%/50%;
}

.nolink{
    text-decoration: none;
    color:white;
    font-weight: bold;
    

}

.testimoni{
    width: 100%;
    height: 140vh;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,1fr);
    

}
.ftesti{
    grid-row: 1/3;
    grid-column: 1/2;
}

.ttesti{
    font-family: inherit;
    grid-row: 1/3;
    grid-column: 2/4;
    background-image: url("photos/Image_Blog_Blast_Unexpected-Ecology.jpg");
    background-size: cover;
    padding: 15px;
}

.trtesti{
    grid-row: 3/4;
    grid-column: 1/4;
    background-color:rgb(255, 191, 0) ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:10px;
}

.frtesti{
    display: none;
}

.fimg{
    width: 100%;
    height: 60%;
}

.card{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap:10px;
    align-items: center;
    font-family: proxima-nova, sans-serif;

}

.lbtn{
    display: flex;
    width: 20vh;
    justify-content: center;
    align-items: center;
    background-color: white;
    color:rgb(255, 191, 0);
    border-radius:20%/80%;
    border-style: solid;
    border-color: white;
    height: 35px;
}

.btnbox{
    display: flex;
    gap: 20px;
}

.lhead{
    font-size: 3.3vw;
    color: white;
}

.testimoni2 {
    display: none;
}

.mdtesti{
    display: none;
}

.tail{
    display: flex;
    height: 10vh;
    align-items: center;
    

    justify-content: center;
    gap: 10px;

}
.tailco{
    margin: 0;
}




/* css for sm an md devices start- */
@media (max-width:900px) {
   .pdrp-n{
    display: none;
   }/* hide menu comphany and products */
 
   
    
   .menudrop{
        width:100vw;
   }
   
    .hero2{
     display: none;
            }

   .hero3{
    width: 100vw;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows:1.1fr 1fr 1fr;
    height: 1800px;
   }
 
   
   .box1{
        width: 100vw;
        display: flex;
        flex-direction: column;
    
    }

    .bg1{
        margin-bottom: 10px;
        padding-left: 20px ;
        display: flex;
        align-items: end;
        height: 60%;
        background-image: url("photos/OIP (1).jpg");
        background-size: cover;
    }
    .ti1{
        font-size: 3rem;
        color: white;
        font-weight: 400;
        margin: 0;
    }

    .ab1{
        color:black;
        height: 40%;
        text-align: justify;
        font-weight: 400;
        font-size: 19px;
        padding-left: 30px;
        padding-right: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        line-height: 1.55;
    }
    .bg2{
        
        padding-left: 20px ;
        display: flex;
        align-items: end;
        height: 60%;
        background-image: url("photos/peoplecouch.webp");
        background-size: cover;
    }

    .bg3{
        margin-bottom: 10px;
        padding-left: 20px ;
        display: flex;
        align-items: end;
        height: 60%;
        background-image: url("photos/R.jpg");
        background-size: cover;
    }
    .make{
        width: 100vw;
        padding: 5vw;
        height: 40vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items:start;
        background-color: rgb(245, 242, 242);
    }
    .mtitle{
        margin-bottom: 15px;
    }
    .mabout{
        font-size: 2.5vw;
        text-align: start;
    }


    .nolink{
        font-size: 70%;
    }

    /* responsive testimone */

  .testimoni{
    display: none;
  }

  .testimoni2{
    width: 100vw;
    height: 280vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3,1fr);
}

.testi1{
    height: 90vh;
    grid-row: 1/2;
    justify-self: stretch;
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.ingbox{
    height: 75%;
    background-image: url("photos/Image_Blog_Blast_Unexpected-Ecology.jpg");
    background-size: cover;
    display: flex;
    padding-left: 5%;
    align-items: end;
    color: white;
    

}
.ingd{
    line-height: 25px;
    height: 25%;
    margin:3% ;

}
.testi2{
    overflow: hidden;
    grid-row: 2/3;
    
    
}
.flx{
    display: flex;
    
    flex-direction: column;
    align-items: center;
}

.imgbox{
    height: 60vh;
    width: 100%;
    

    
}

.des{
    color: rgb(255, 191, 0);
    padding: 3%;
    margin: 0;
}
.auth{
    display: flex;
    gap: 2%;
    padding: 3%;
    font-size: small;
    font-weight: bold;
    color: rgba(117, 111, 111, 0.659);
    align-items: center;
}

.auname{
    margin: 0;
}
.testi3{
    
    height: 30%;
    grid-row: 3/4;
    height: 100%;
}

.imgbox2{
    
    height: 55vh;
    width: 100%;
}

.mdtesti{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 40vh;
    background-color:rgb(255, 191, 0);
    gap: 10px;
}
.btnbox{

    flex-direction: column;
    gap: 10px;
    font-size: 70%;
}
}

/*css for md devices end */

/* responsive banner */

@media (max-width:590px) {
    
    .bg1{
        height: 50%;

    }
    .ab1{
        font-size: 14px;
        color:black;
        height: 40%;
        text-align: justify;
        font-weight: 400;
        
        padding-left: 30px;
        padding-right: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .make{
        height: 45vh;
        width: 100%;
    }

    .banner1{
        height: 130px;
        display: grid;
        grid-template-columns: repeat(8,200px);
        grid-template-rows: 130px;
        animation-duration: 20s;
    }
    .banner2{
        height: 130px;
        display: grid;
        grid-template-columns: repeat(8,200px);
        grid-template-rows: 130px;
        animation-duration: 20s;
    }

    @keyframes b {
        from{
            right: 100px;
        }
        to{
            right: 940px;
        }
    }
    
    @keyframes b1 {
        from{
            right: 0px;
        }
        to{
            right: 840px;
        }
    }

    .img{
        width: 190px;
        height: 121px;
    }
    
   
    
   }

/* responsive banner css end */


/* responsive hero1 css start */

@media (max-width:790px){

.bg{
    background-size: cover;
    margin: 0 auto;
    padding:1vw;
    height: 600px;  
}
    /* nav */
    .logo1{
        width: 20vw;
        height:8vw;
        margin-left: 20%;
    }
    .tr{
        text-transform:var(--cap);
        color:white;
        font-weight:bolder;
        font-size: 3vw;
    }
    /* hero */
    .hero{
        height:70vh;
        justify-content: end;
        align-items: center;
    }
    .title{
        width: 50%;
    }

    .ti{
   font-size: 3.5rem;
   line-height: 95%;
   font-family: sans-serif;
   font-weight: 680;
   height: 50%;

   text-align: center;
    }

   .buttons{ 

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:3px;
    width:80vw;
    height: 40%;

   }
   
   .first{

    width:100%;
    height: 6vw;
    margin:2%;
    border-radius: 5% /50%;
   
    }

   .fi{

    font-size: large;
     

   }


}
/* responsive hero 1 css end */

